- hosts: kube18master 
  tasks:
  - name: Deploy the service
    k8s:
      state: present
      definition: "{{ lookup('template', 'service.yaml') | from_yaml }}"
      validate_certs: no
      namespace: cicddemo
  - name: Deploy the application
    k8s:
      state: present
      validate_certs: no
      namespace: cicddemo
      definition: "{{ lookup('template', 'deployment.yaml') | from_yaml }}"
